.save-button {
  background: linear-gradient(180deg, rgba(250,14,40,1) 24%, rgba(233,12,36,1) 100%);
  height: 50px;
  padding: 8px 25px;
  margin-right: 30px;
  outline: none;
  font-size: 13px;
  color: white;
  text-transform: uppercase;
  font-weight: 700;
  border: 0;
  border-radius: 40px;
  margin-left: -40px;
}

.save-button:hover {
  background: rgb(250,14,40);
  cursor: pointer;
}

.save-button-clicked {
  /*background: linear-gradient(180deg, rgba(250,14,40,1) 24%, rgba(233,12,36,1) 100%);*/
  background: rgb(245, 245, 245);
  border: 2px solid rgb(250,14,40);
  color: rgb(250,14,40);
}

.save-button-clicked:hover {
  background: rgb(245, 245, 245);
  border: 2px solid rgb(250,14,40);
  color: rgb(250,14,40);
  cursor: default;
}
